<div class="block_about">
    <h1>About Our Project</h1>
    <h3>Une application web qui déforme l'image captée par la caméra grâce au son de l'environnement.</h3>
    <h2>Génèse</h2>
    <p>« Représenter vite ce qui va vite », a l'instar des études de ciel et la représentation des nuages dans l'impressionnisme, exprimant des notions tels que la representation du mouvement et la fugitivite du temps; nous nous attardons sur l'étude du son, de sa representation et son utilisation comme outil de peinture numérique.
        Aphex Twin faisait apparaitre un autoportrait sonore a la fin de sa musique « Equation » visualisable au travers d'un spectogramme. Nous souhaitons proposer une expérience synesthésique mettant en relation la fréquence d'onde sonore et la couleur en longueur d'ondes faisant intéragir en temps réel l'image capturée avec le niveau sonore de l'environnement en altérant l'image par la couleur des pixels.
    </p>
</div>
