/*
video {
	width: 100%;
	height: auto;
	max-width: 100%;
	border: 1px solid #ccc;
	border-radius: 3px;
}


.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: unset;
	display: flex;
	flex-direction: inherit;
	align-items: center;
	margin: 0 auto;
	max-width: 800px;
	padding: 2rem;
}
*/