
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Background image for the entire page */
body {
    margin: 0;
	height: 100%;
	width: 100%;
	margin-bottom: 43.3%; /*maybe change as the website change dimension*/
    background-image: url('../img/bg_bis.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    color: #333;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: unset;
	display: flex;
	flex-direction: inherit;
	align-items: center;
	margin: 0 auto;
	max-width: 800px;
	padding: 2rem;
}

li, a, button {
    font-family: 'Lucida Sans', sans-serif;
    font-weight: 50;
    font-size: 16px;
	color: dimgrey;
	text-decoration: none;
}

.title-logo {
	height: auto;
	font-size: 1.5rem;
	cursor: pointer;
	margin: .5rem;
}

.logo {
	width: 100px;
}



.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	background-color: #333;
	color: white;
	z-index: 1000;
}

.navbar-links ul {
	margin: 0;
	padding: 0;
	display: flex;
	right:20rem;
}

.navbar-links {
    margin-right: 15rem;
}

.navbar-links li{
	list-style: none;
}

.navbar-links li a{
	font-size: 2em;
	font-weight: bold;
	text-decoration: none;
	color: white;
	padding: 1rem;
	display: block;
}

.navbar li a:hover {
	height: 100%;
	width: 100%;
	color: #0059ff;
}


button {
	padding: 9px 25px;
	color: #333;
	border: none;
	border-radius: 30px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	height: 100%;
	width: 100%;
}

button:hover {
	color: #0059ff;
}


/*burger menu button*/
.burger-menu {
    position: relative;
}

.sidebar {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #333;
}

.links-button {
    display: none;
}

.menu-button {
    display: none;
    position: absolute;
    top: 5px;
    right: 100px;
    transform: translateY(-50%);
    border-radius: 3px;
}

.menu-button svg {
    fill: white;
	width: 30px;
	height: 30px;
}

.close-button svg {
    fill: white;
	width: 30px;
	height: 30px;
}

.menu-button svg:hover {
	color: #92a6cc;
}

@media screen and (max-width: 911px) {
    .navbar-links ul {
        display: none;
    }

    .navbar-links {
        position: absolute;
        width: 100%;
        height: 10%;
        margin: 0;
        padding: 0;
        display: flex;
    }

    .menu-button {
        display: block;
    }

	.close-button {
		display: none;
	}

    .sidebar-open .sidebar {
        display: block;
    }

    .sidebar-open .links-button {
        display: block;
    }

	.sidebar {
        position: relative;
        width: 100%;
        height: 10%;
        margin: 0;
        padding: 0;
        display: flex;
    }
}
