<p>camera-works</p>

<head>
    <script src="./code/js/web_page.js"></script>
		
			<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
			<script src="libs/perlin.js"></script>
	
			<!-- library for screenshot and recording -->
			<script src="libs/CCapture.js"></script>
			<script src="libs/Whammy.js"></script>
			<script src="libs/download.js"></script>
	
			<script src="WarpShader.js"></script>
			<script src="WarpFilter.js"></script>
			<script src="TimeWarpFilter.js"></script>
	
			<script src="FlipShader.js"></script>
			<script src="FlipFilter.js"></script>
	
			<script src="utils.js"></script>
			<script src="renderer.js"></script>
			<script src="interface.js"></script>
			<script src="main.js"></script>
</head>
<body>
    <div id="main">
		<div id="inner">
			<div id="container">
			</div>
			<div id="controls">
				<div id="icon-box">
                    <!-- penser à raccrocher les boutons actuels -->
				</div>
				<div id="filters">
					<div id="panels" class="panel">
					</div>
				</div>
        	</div>
    	</div>
		</div>
    
</body>