<p>camera-works</p>

<head>
    <script src="./code/js/web_page.js"></script>
		
			<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
	
			<script src="./code/js/libs/perlin.js"></script>
	
			<!-- library for screenshot and recording -->
			<script src="./code/js/libs/CCapture.js"></script>
			<script src="./code/js/libs/Whammy.js"></script>
			<script src="./code/js/libs/download.js"></script>
	
			<script src="./code/js/libs/PaletteMetaFilter.js"></script>
	
			<script src="./code/js/libs/WarpShader.js"></script>
			<script src="./code/js/libs/WarpFilter.js"></script>
			<script src="./code/js/libs/TimeWarpFilter.js"></script>
	
			<script src="./code/js/libs/FlipShader.js"></script>
			<script src="./code/js/libs/FlipFilter.js"></script>
	
			<script src="./code/js/utils.js"></script>
			<script src="./code/js/renderer.js"></script>
			<script src="./code/js/interface.js"></script>
			<script src="./code/js/main.js"></script>
</head>
<body>
    <div id="main">
		<div id="inner">
			<div id="container">
			</div>
			<div id="controls">
				<div id="icon-box">
                    <!-- penser à raccrocher les boutons actuels -->
				</div>
				<div id="filters">
					<div id="panels" class="panel">
					</div>
				</div>
        	</div>
    	</div>
		</div>
    
</body>