
.container {
    max-width: 800px;
    width: 80%;
    padding: 2rem;
    height: calc(100vh - 6rem);
    background: rgb(245, 242, 224);
    box-sizing: border-box;
    margin: 5rem auto 1rem auto;
    overflow-y: auto;
}

h1 {
    display: flex;
    font-size: 2em;
    text-align: left;
    font-weight: bold;
}

.project-description {
    margin-top: 5%;
    margin-left: 20%;
    text-align: left;
}

.project-description p {
    margin-top: 1%;
    margin-bottom: 7%;
    font-size: 1.3rem;
}

.lang-menu {
    position: absolute;
    right: 15%;
    top: 55%;
    transform: translateY(-50%);
    font-weight: bold;
}

.lang-menu .selected-lang {
    display: flex;
    justify-content: space-between;
    line-height: 2;
    cursor: pointer;
}
.lang-menu .selected-lang:before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url('../../img/british-us.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.lang-menu ul {
    margin: 0;
    padding: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    position: absolute;
    top: 100%;
    right: 0px;
    width: 125px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}

.lang-menu ul li {
    list-style: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.lang-menu ul li a {
    text-decoration: none;
    width: 125px;
    padding: 5px 10px;
    display: block;
}

.lang-menu ul li:hover {
    background-color: #f2f2f2;
}

.lang-menu ul li a:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}

.en:before {
    background-image: url('../../img/british-us.png');
}
.fr:before {
    background-image: url('../../img/french.png');
}

.lang-menu:hover ul {
    display: block;
}

@media (max-width: 700px) {
    .lang-menu {
        position: absolute;
        right: 25%;
        top: 50%;
        transform: translateY(-50%);
        font-weight: bold;
    }

    .project-description {
        margin-top: 5%;
        margin-left: 23%;
        text-align: left;
    }
    
    .project-description p {
        margin-bottom: 7%;
        font-size: 1.1rem;
    }
    
    .container {
        max-width: 700px;
        width: 80%;
        padding: 2rem;
        background: rgb(245, 242, 224);
        box-sizing: border-box;
        margin-bottom: 2rem;
    }
}

@media (max-width: 500px) {

    .project-description {
        margin-top: 5%;
        margin-left: 20%;
        text-align: left;
    }
    
    .project-description p {
        margin-bottom: 7%;
        font-size: 1rem;
    }
    
    .container {
        max-width: 500px;
        width: 80%;
        padding: 2rem;
        background: rgb(245, 242, 224);
        box-sizing: border-box;
        margin-bottom: 2rem;
    }
}

@media (max-width: 400px) {
    .project-description {
        margin-top: 3%;
        margin-left: 20%;
        text-align: left;
    }
    
    .project-description p {
        margin-bottom: 7%;
        font-size: 0.9rem;
    }
    
    .container {
        max-width: 400px;
        width: 80%;
        padding: 1.5rem;
        background: rgb(245, 242, 224);
        box-sizing: border-box;
        margin-bottom: 2rem;
    }
}
