#main {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 100%;
  height: 100vh;
  position: relative; 
}

#container {
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}

#controls {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 150;

}

#icon-box {
  font-size: 55px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  #icon-box {
    font-size: 35px;
    bottom: 250;
    left: 450;
  }
}
