
#main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 0rem;
}

#container {
  overflow: hidden;
  position: relative;
  min-width: 100%;
  min-height: 100%;
}

canvas {
  width: 100%;
  height: 100%;
}

#controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 15%;
  width: 100%;
  left: -45%;
}
#icon-box {
  font-size: calc(1vw + 30px);
  margin: 0 auto;
}

#photo-button, #record-button {
  margin: 5px 0;
}

#container {
    transform: rotate(90deg);
  }

@media (orientation: landscape) {
  #controls {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	right: 20px;
	bottom: 5%;
  }

  #icon-box {
	margin: 0 20px;
  }

  #photo-button, #record-button {
	margin: 5px 0;
  }
}

@media (orientation: portrait) {
	#container {
	  top: 50%;
	}

	#controls {
	  display: flex;
	  flex-direction: column;
	  align-items: flex-end;
	  right: 20px;
	  bottom: 3%;
	}

	#icon-box {
	  margin: 0 20px;
	}

	#photo-button, #record-button {
	  margin: 5px 0;
	}

	@media (max-width: 425px) {
	  #icon-box {
		font-size: calc(1.5vw + 25px);
	  }
	  #photo-button, #record-button {
		margin: 0 10px;
	  }
	}

	@media (max-width: 325px) {
	  #icon-box {
		font-size: calc(1.5vw + 25px);
	  }
	  #photo-button, #record-button {
		margin: 0 10px;
	  }
	}
}

@media (max-width: 1200px) {
  #controls {
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: 15%;
	width: 100%;
	left: 0;
  }
  #icon-box {
	font-size: calc(1vw + 30px);
	margin: 0 auto;
  }
  #photo-button, #record-button {
	margin: 0 20px;
  }
}

@media (max-width: 660px) {
  #icon-box {
	font-size: calc(1.5vw + 25px);
  }
  #photo-button, #record-button {
	margin: 0 10px;
  }
}