
#main {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 100%;
  height: 100%;
  font-size: 0rem;
}

#container {
  display: inline-block;
  overflow: hidden;
  position: relative;
}


#controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 150;
}

#icon-box {
  font-size: 50px;
  margin: 0 auto;
  margin-left: -10;
}

@media (max-width: 1200px) {
  #icon-box {
    font-size: 35px;
  }
  #photo-button{
    margin: 0 50px;
    /*left: 50%;*/
  }
  #record-button {
    margin: 0 50px;
  }
}
