.gallery_button {
    display: flex;
    position:relative;
    margin-left: auto;
    margin-right: 3%;
    width: 65px;
    height: 65px;
    padding: 10px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.75);
}

#border {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 65px;
    height: 65px;
    border: 7px solid transparent;
    border-radius: 15px;
    background: linear-gradient(0.1turn, #12548A, #15B6C9, #81C594, #EDC50F, #CD4E16, #1F254A, #1D509F) border-box;
    -webkit-mask: 
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
}