.switch-mode-button {
    margin: auto;
    width: 305.459px;
    height: 305.512px;
    flex-shrink: 0;
}

#Ellipse_1 {
    margin: auto;
    width: 216px;
    height: 216px;
    transform: rotate(45.5deg);
    flex-shrink: 0;
    fill: radial-gradient(54.05% 54.05% at 50% 50%, rgba(241, 241, 241, 0.75) 67.5%, rgba(234, 231, 231, 0.75) 89.09%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#mask {
    margin: auto;
    width: 216px;
    height: 216px;
    transform: rotate(45.5deg);
    flex-shrink: 0;
}

#Ellipse_2 {
    margin: auto;
    width: 216px;
    height: 216px;
    transform: rotate(45.5deg);
    flex-shrink: 0;
    stroke-width: 6px;
    stroke: #000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#IMG_1446 {
    width: 216px;
    height: 216px;
    flex-shrink: 0;
    background: url(../../../assets/31004187da305da9047f3dd05ff78d9d.png) lightgray 50% / cover no-repeat;
}

#Fichier_24x {
    width: 116.469px;
    height: 30.781px;
    transform: rotate(45.241deg);
    flex-shrink: 0;
    background: url(../../../assets/59b5330d52a1e62d03a94c1ec9a4d567.png) lightgray 50% / cover no-repeat;
}

#Fichier_14x {
    width: 106.79px;
    height: 33.372px;
    transform: rotate(139.844deg);
    flex-shrink: 0;
    background: url(../../../assets/4a8c2f49b288dd7ac7680c97d297eb50.png) lightgray 50% / cover no-repeat;
}
